hr.mt1
footer.max-width-3.mx-auto
    .clearfix
    ul.list-reset
        li.inline-block.mr2
            a(href=url_for("/")) Home
        li.inline-block.mr2
            a(href=url_for("enterprise-ux")) Enterprise UX
        li.inline-block.mr2
            a(href=url_for("labs")) Labs
        li.inline-block.mr2
            a(href=url_for("blog")) Blog
        li.inline-block.mr2
            a(href=theme.rss ? theme.rss : config.root + "rss2.xml") Feed
