extends ../base



block site_body
    .col.col-12.px2.mt4.mb2
        h1.h1= page.seo_title

        p.full-width.lead.
            Opportunity to write something here as the introduction to the whole page. lots
            more text here. something really interested too. I have a special class so I
            span the full width.

    .col.col-12.px2
        p.inline-block.mr2 On this page:
            ol.list-reset.inline
                li.inline-block.mr2
                    a(href="#enterprise-ux") Enterprise UX
                li.inline-block.mr2
                    a(href="#projects") Projects
                li.inline-block.mr2
                    a(href="#labs") Lab projects
                li.inline-block.mr2
                    a(href="#ventures") Latest Ventures
                li.inline-block.mr2
                    a(href="#blog") Recent blog posts


    section.col.col-12.px2
        h2.pt4#enterprise-ux Enterprise UX
        p.
            All things Enterprise UX solutions. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam.

        .mxn1.clearfix
            .sm-col.sm-col-12.p1
                a(href=url_for('/enterprise-ux')).border-box.border.rounded.px3.py4.block
                    h3.h1.m0 Creating better business systems for internal tools
                    p.mb0.lead People-centered design that boosts your bottomline.

            .sm-col.sm-col-12.md-col-6.p1
                a(href=url_for('/enterprise-ux/raise-your-bottom-line')).border-box.border.rounded.p3.block
                    h3.h2.m0 Invest in the systems that give you the&nbsp;
                        i competitive edge
                    p.mb0 Doing things for business

            .sm-col.sm-col-12.md-col-6.p1
                a(href=url_for('/enterprise-ux/raise-your-bottom-line')).border-box.border.rounded.p3.block
                    h3.h2.m0 Calculate the&nbsp;
                        i ROI
                        | &nbsp;of your internal systems
                    p.mb0 Doing things for business


    section.col.col-12.px2
        h2.pt4#projects Typical projects
        p.
            Various projects #[a(href="/work") our work] dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam.

        .mxn1.clearfix
            .col.col-12.p1
                a(href=url_for('/work/BBC-freebird')).border-box.border.rounded.px3.py4.block
                    h3.h1.m0 Transforming the way people transform
                    p.mb0.lead Doing things for business and something else really cool.

            .col.col-12.p1
                a(href=url_for('/work/BBC-freebird')).border-box.border.rounded.px3.py4.block
                    h3.h1.m0 Transforming the way people transform
                    p.mb0.lead Doing things for business and something else really cool.

            .col.col-12.p1
                a(href=url_for('/work/BBC-freebird')).border-box.border.rounded.px3.py4.block
                    h3.h1.m0 Transforming the way people transform
                    p.mb0.lead Doing things for business and something else really cool.


    section.col.col-12.px2
        h2.pt4#labs Labs
        p.
            Our #[a(href="/labs") labs projects] are like, amazing. Lorem ipsum dolor sit amet,
            consectetur adipiscin
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam.


        .mxn1.clearfix
            each project in site.categories.findOne({name: 'labs'}).posts.limit(3).sort('date', -1).toArray()
                .col.col-12.p1
                    a(href=url_for(project.path)).border-box.border.rounded.p3.block
                        h3.h3.m0= project.title
                        p.m0= project.subtitle


    section.col.col-12.px2
        h2.pt4#ventures Ventures
        p.
            Our own products & services. Our labs projects are like, amazing. Lorem ipsum dolor sit amet, consectetur adipiscin
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam.

        .mxn1.clearfix
            .col.col-12.p1
                a(href=url_for('/enterprise-ux')).border-box.border.rounded.px3.py2.block
                    h3.m0 Climb.Social
                    p.m0 Social Media anywhere you need it

            .col.col-12.p1
                a(href=url_for('/enterprise-ux')).border-box.border.rounded.px3.py2.block
                    h3.m0 Wifime
                    p.m0 Cool things with Wifi

            .col.col-12.p1
                a(href=url_for('/enterprise-ux')).border-box.border.rounded.px3.py2.block
                    h3.m0 Allo' Allo'
                    p.m0 Project allocation plans for service agencies


    section.col.col-12.px2.mb4
        h2.pt4#blog Blog
        p.
            Things we've written recently. Our labs projects are like, amazing. Lorem ipsum dolor sit amet,
            consectetur adipiscin elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam.

        .mxn1.clearfix
            each post in site.posts.limit(3).sort('date', -1).toArray()
                .col.col-12.p1
                    a(href=url_for(post.path)).border-box.border.rounded.px3.py2.block
                        h3.m0= post.title
                        p.m0 Doing things for business


